.element-box-rectangle {
    position: relative;
    background: #E4EAFA;
    border-radius: 26px;

    box-shadow:
            -11px -11px 7px 0 rgba(255, 255, 255, 0.5),
            12px 13px 15px 2px rgba(119, 141, 217, 0.35);
    margin-top: 2em;
    margin-bottom: 2em;
}
.element-box-text {
    padding: 10px;
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;

    align-items: center;
    letter-spacing: 0.07em;

    color: #171437;
}
@media screen and (max-width: 600px) {
    .element-box-text {
        padding: 2px;
        font-family: Jura;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;

        color: #171437;
    }
}