.element-box-rectangle {
    position: relative;
    background: #E4EAFA;
    border-radius: 26px;

    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.16),
    0 4px 5px 0 rgba(0, 0, 0, 0.05),
    0 1px 10px 0 rgba(0, 0, 0, 0.08);
    margin-top: 2em;
    margin-bottom: 2em;
}
.element-box-text {
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    width: 100%;

    align-items: center;
    letter-spacing: 0.07em;
}
@media screen and (max-width: 600px) {
    .element-box-text {
        padding: 2px;
        font-size: 14px;
    }
}
