.second-faq-box {
    left: 50%;
    align-content: center;
}
.worker-image {
    object-fit: cover;
    object-position: 0 170px;
}
@media only screen and (max-width: 1000px) {
    .second-faq-box {
        left: 0;
    }
    .worker-image {
        object-fit: cover;
        object-position: -80px 170px;
    }
}
.faq-header-text {
    width: 299px;

    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 20px;
    /* or 67% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    color: #4A4A4A;
}