.advantages-header {
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    color: #4A4A4A;
}
.advantages-text {
    display : flex;
    align-items : center;
}
.ml-p-8 {
    margin-left: 8%;
}
.ml-p-15 {
    margin-left: 15%;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
    .advantages-text {
        font-size: 14px;
        line-height: 16px;
    }
}
