.align-center-full {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.align-center-semi {
    display: flex;
    justify-content: center;
    text-align: center;
}
.align-center-semi-d {
    text-align: left;
}
.ant-message {
    z-index: 1021;
}

html {
    scroll-behavior: smooth;
}