.page-title-text {
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 46px;
    margin: .5em;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    color: #4A4A4A;
}
.page-under-title-text {
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    padding: .5em;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;

    color: #000000;
}
.common-text {
    font-family: Jura, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    color: #000000;
}
@media screen and (max-width: 600px) {
    .page-title-text {
        font-size: 36px;
        line-height: 36px;
    }
    .page-under-title-text {
        font-size: 14px;
    }
}
