.page-title-text {
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 20px;
    /* or 62% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    color: #4A4A4A;
}