.img-overlay-size {
    max-width: 666px;
}
.second-img-overlay-size {
    position: absolute;
    display: block;
    bottom: -250px;
    right: -100px;

    max-width: 584px;
}
.image-holder {
    overflow: hidden;
    display: inline-block;
    position: relative;
    border-radius: 29px;
}
.image-holder:before {
    content:'';
    position: absolute;
    left: 2%;
    top: 2%;
    width: 96%;
    height: 96%;
    border: 2px solid white;
    border-radius: 29px;
}
.image-box {
    display: inline-block;
    position: relative;
    border-radius: 29px;
}
.img-size {
    max-width: 584px;
}

@media screen and (max-width: 600px) {
    .img-overlay-size {
        max-width: 350px;
    }
    .second-img-overlay-size {
        /*display: none;*/
        bottom: -60px;
        right: -40px;
        max-width: 150px;
    }
}
@media screen and (max-width: 850px) and (min-width: 600px){
    .second-img-overlay-size {
        /*display: none;*/
        bottom: -70px;
        right: -90px;
        max-width: 250px;
    }
}

@media screen and (max-width: 600px) {
    .img-size {
        max-width: 320px;
        max-height: 500px;
    }
}
@media screen and (max-width: 1600px) and (min-width: 601px){
    .img-size {
        max-width: 450px;
    }
}