.project-text {
    position: absolute;
    color: white;
    text-shadow: #000000 1px 0 10px;
    cursor: pointer;
}
.project-img {
    width: 300px;
    height: 200px;
    -webkit-box-shadow: 7px 5px 45px 0 rgba(34, 60, 80, 0.28);
    -moz-box-shadow: 7px 5px 45px 0 rgba(34, 60, 80, 0.28);
    box-shadow: 7px 5px 45px 0 rgba(34, 60, 80, 0.28);
    border-radius: 26px;
    opacity: 0.5;
}
.project-container:hover .project-img {
    opacity: 1;
    cursor: pointer;
}
.project-container:hover .project-text {
    text-decoration: underline;
}
.gallery {
    -webkit-box-shadow: 7px 5px 45px 0 rgba(34, 60, 80, 0.28);
    -moz-box-shadow: 7px 5px 45px 0 rgba(34, 60, 80, 0.28);
    box-shadow: 7px 5px 45px 0 rgba(34, 60, 80, 0.28);
    border-radius: 26px;
}
.project-selected .project-img{
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .project-container:not(:first-child) {
        margin-top: 1.5em;
    }
}
