.work-with-us-img {
    margin-top: 10px;
    border-radius: 29px;
    box-shadow: 3px 4px 5px 2px rgba(34, 60, 80, 0.28);
}

@media only screen and (max-width: 800px) {
    .work-with-us-img {
        max-width: 200px;
    }
}

@media only screen and (max-width: 650px) {
    .work-with-us-img {
        max-width: none;
        margin-left: 1.5em;
    }
}
