.work-with-us-img {
    margin-top: 10px;
}

@media only screen and (max-width: 800px) {
    .work-with-us-img {
        max-width: 200px;
    }
}

@media only screen and (max-width: 650px) {
    .work-with-us-img {
        max-width: 110px;
        margin-left: 10px;
    }
}