.address {
    height: 106px;
}
.address-shadow {
    position: absolute;
    left: 6.65%;
    right: 0;
    top: 13.19%;
    bottom: 0;

    background: rgba(119, 141, 217, 0.25);
    filter: blur(15px);
    border-radius: 24px;
}
.address-shadow-2 {
    position: absolute;
    left: 1.81%;
    right: 2.44%;
    top: 0;
    bottom: 13.35%;

    background: rgba(255, 255, 255, 0.5);
    filter: blur(4px);
    border-radius: 24px;
}
.address-box {
    position: absolute;
    left: 3.49%;
    right: 3.16%;
    top: 7.02%;
    bottom: 7.9%;

    background: #E4EAFA;
    filter: blur(4px);
    border-radius: 24px;
}
.address-box-text {
    /* г. Харьков, Проспект Московский, 51, офис 5 Работаем по всей Украине! */

    position: absolute;
    width: inherit;
    height: inherit;
    padding-bottom: 10%;
    padding-left: 10%;

    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    /* or 115% */
    display: flex;
    align-items: center;
    text-align: center;
}

.address-box-text-2 {
    /* г. Харьков, Проспект Московский, 51, офис 5 Работаем по всей Украине! */

    position: absolute;
    width: inherit;
    height: inherit;
    margin-top: 5%;
    padding-left: 23%;

    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    /* or 115% */
    display: flex;
    align-items: center;
    text-align: center;
}