.header-text {
    color: #131256;
    font-family: Jura;
    font-size: 70px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.under-header-text {
    color: #4A4A4A;
    font-family: Yanone Kaffeesatz;
    font-weight: normal;
    font-size: 18px;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.under-header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #4A4A4A;
    font-family: Yanone Kaffeesatz;
    font-weight: normal;
    font-size: 25px;
    opacity: 1;
}
@media screen and (max-width: 600px) {
    .header-text {
        font-family: Jura;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 40px;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
    }
    .under-header-row {
        font-size: 14px;
        line-height: 16px;
        color: #0D0F46;

        display: flex;
        align-items: center;
        text-align: center;
    }
    .under-header-text {
        font-size: 15px;
        margin-top: 1.5em;
    }
}