.header-text {
    color: white;
    text-shadow: #131256 -1px -1px 10px, #131256 3px 3px 10px;
    font-family: Jura;
    font-size: 70px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.under-header-text {
    color: white;
    text-shadow: #4A4A4A -1px -1px 20px;
    font-family: Yanone Kaffeesatz;
    font-weight: normal;
    font-size: 26px;
    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.under-header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: #4A4A4A -1px -1px 10px,
    #4A4A4A 3px 3px 10px;

    color: white;
    font-family: Yanone Kaffeesatz;
    font-weight: normal;
    font-size: 25px;
    opacity: 1;
}
@media screen and (max-width: 600px) {
    .header-text {
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 40px;

        letter-spacing: 0.05em;
    }
    .under-header-row {
        font-size: 20px;
        line-height: 16px;
    }
    .under-header-text {
        font-size: 20px;
        margin-top: 1.5em;
    }
}
