.topnav {
    height: 50px;
    overflow: hidden;

    background: #E4EAFA;
    box-sizing: border-box;
    border-radius: 24px;
    text-wrap: none;
    white-space:nowrap;
    animation: drop-bottom .6s ease;
}
.topnav a.col-2 {
    float: left;
    display: flex;
    text-decoration: none;

    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    align-items: center;
    text-align: center;
    text-indent: 15px;
    color: #4A4A4A;
}
.topnav a.col-2:hover {
    text-decoration: none;
    color: #7f7f7f;
}
.nav-dropdown {
    animation: drop-bottom .5s ease-in-out;
    position: absolute;
    left: 0;
    top: 120%;
    /*height: 70vh;*/
    overflow-y: auto;
    overflow-x: hidden;

    background: #E4EAFA;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 24px;
    z-index: 22;
    box-shadow:
        18px 20px 14px 0 rgba(119, 141, 217, 0.35),
        -2px -5px 6px 3px rgba(255, 255, 255, 0.5);
}
.nav-dropdown-small {
    animation: drop-bottom .5s ease;
    position: absolute;
    left: 36%;
    top: 120%;
    /*height: 70vh;*/
    overflow-y: auto;
    overflow-x: hidden;

    background: #E4EAFA;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 24px;
    z-index: 22;
    box-shadow:
            18px 20px 14px 0 rgba(119, 141, 217, 0.35),
            -2px -5px 6px 3px rgba(255, 255, 255, 0.5);
}
.sticky-top .topnav {
    box-shadow:
         1px 1px 14px 6px rgba(119, 141, 217, 0.35),
         -2px -5px 6px 3px rgba(255, 255, 255, 0.5);
}
.sticky-top-out .topnav {
    animation: hide-top-no-op 0.5s ease-in-out;
}
.nav-inactive {
    animation: hide-top 1s ease-in-out;
}
@keyframes hide-top {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}
@keyframes hide-top-no-op {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes drop-bottom {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.max-height-5 {
    max-height: 120px;
}
.row .card-style {
    background-color: unset;
    border: none;
}
.card-text-style {
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;


    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    color: #000000;
}
.card-header-text-style {
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15px;


    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #4A4A4A;
    background-color: inherit;
    margin: 0;

    float: left;
    display: flex;
    text-decoration: none;

    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;

    align-items: center;
    text-align: center;
    text-indent: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
