.topnav {
    height: 50px;
    overflow: hidden;

    background: #E4EAFA;
    box-sizing: border-box;
    border-radius: 24px;
    text-wrap: none;
    white-space:nowrap;
}
.topnav a {
    float: left;
    display: flex;
    text-decoration: none;

    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    align-items: center;
    text-align: center;
    text-indent: 15px;
    color: #4A4A4A;
}
.nav-dropdown {
    animation: drop-bottom .5s ease;
    position: absolute;
    left: 0;
    top: 120%;
    height: 70vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    background: #E4EAFA;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 24px;
    z-index: 22;
    box-shadow:
        18px 20px 14px 0 rgba(119, 141, 217, 0.35),
        -2px -5px 6px 3px rgba(255, 255, 255, 0.5);
}
.sticky-top .topnav {
    box-shadow:
         1px 1px 14px 6px rgba(119, 141, 217, 0.35),
         -2px -5px 6px 3px rgba(255, 255, 255, 0.5);
}
.nav-inactive {
    animation: hide-top 1s ease;
}
@keyframes hide-top {
    0% {
        transform: translateY(0px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}
@keyframes drop-bottom {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}
.max-height-5 {
    max-height: 120px;
}
.row .card-style {
    background-color: unset;
    border: none;
}
.card-text-style {
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    color: #000000;
}
.card-header-text-style {
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15px;
    /* or 75% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: #4A4A4A;
    background-color: inherit;
    margin: 0;

    float: left;
    display: flex;
    text-decoration: none;

    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;

    align-items: center;
    text-align: center;
    text-indent: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.top-nav-circle {
    position: fixed;
    top: 0;
    left: 0;
    z-index:1020;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-color: #E4EAFA;
    border-radius: 50%;

    box-shadow:
        -7px -7px 16px 0 #FFFFFF,
        0 8px 16px 0 rgba(0,0,0,0.2);
}
.top-nav-circle:before {
    content:'';
    position: absolute;
    left: 7%;
    top: 7%;
    width: 86%;
    height: 86%;
    border: 1px solid white;
    border-radius: 29px;
    opacity: .5;
    z-index: 1020;
}
.top-nav-mobile {
    animation: menu-left .5s ease;
    position: fixed;
    left: 0;
    top: 0;
    height: 600px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    background: #E4EAFA;
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.36);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    z-index: 1020;
}

.top-nav-mobile a.col-6{
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15px;
    /* or 75% */

    display: flex;
    align-items: center;
    text-align: center;
    color: #2570C8;
}
.logo-name {
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 15px;
    /* or 44% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #6462B1;
}
.tag-remove::before {
    position: absolute;
    top: 1%;
    right: 1%;
    content: 'x';
    color: #fff;
    font-weight: 300;
    font-family: Arial, sans-serif;
}
.tag-remove:hover {
    cursor: pointer;
}
.mob-nav-inactive {
    animation: menu-hide-right .6s ease;
}
@keyframes menu-left {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes menu-hide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vw);
    }
}
/*@keyframes spin {*/
    /*100% {*/
        /*-webkit-transform: rotate(360deg); transform:rotate(360deg);*/
    /*}*/
/*}*/