.top-nav-circle {
    position: fixed;
    top: 0;
    left: 0;
    z-index:1020;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-color: #E4EAFA;
    border-radius: 50%;

    box-shadow:
        -7px -7px 16px 0 #FFFFFF,
        0 8px 16px 0 rgba(0,0,0,0.2);
}
.top-nav-circle:before {
    content:'';
    position: absolute;
    left: 7%;
    top: 7%;
    width: 86%;
    height: 86%;
    border: 1px solid white;
    border-radius: 29px;
    opacity: .5;
    z-index: 1020;
}
.top-nav-mobile {
    animation: menu-left .5s ease;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    background: #E4EAFA;
    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.36);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    z-index: 1020;
}
@-moz-document url-prefix() {
    .top-nav-mobile {
        background: rgba(228, 234, 250, 0.9);
    }
}
.top-nav-mobile a.col-12:not(.services-accordion-text){
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #2570C8;
}
.top-nav-mobile a.col-12:hover:not(.services-accordion-text){
    text-decoration: none;
    color: #26a3fd;
}
.top-nav-mobile .container {
    height: 40vh;
}
.logo-name {
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 15px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #6462B1;
}
.close {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 15px;
    height: 15px;
    opacity: 0.3;
    text-shadow: -7px -7px 16px 0 #002cff;
}
.close:hover {
    cursor: pointer;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.arrow-left {
    border: solid #a3c5ee;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    float: left;
    margin-top: 8px;
}
.arrow-left:hover {
    cursor: pointer;
}
.mob-nav-inactive {
    animation: menu-hide-right .6s ease;
}
.services-header {
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.03em;

    color: #4A4A4A;
}
.show-from-right {
    animation: show-from-right .6s ease;
}
.show-from-left {
    animation: menu-left .6s ease 0s;
    bottom: 0; /* start out at position 0 */
}
.section {
    overflow:hidden;
    transition: transform 0.5s ease-out;
    height:auto;
    transform: scaleY(1);
    transform-origin: top;
}
.collapsed {
    transform: scaleY(0);
}
.services-accordion-header {
    font-family: Yanone Kaffeesatz;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15px;

    letter-spacing: 0.05em;

    color: #2570C8;
}
.align-center-full.left-bottom-element {
    position: absolute;
    bottom: 5%;
    left: 0;
}
.services-accordion-text {
    font-family: Jura;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: 0.07em;

    color: #000000;
}
.services-img {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
}
@keyframes menu-left {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes menu-hide-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vw);
    }
}
@keyframes show-from-right {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}